<!DOCTYPE html>

<html lang="en">

<head>
    <title>Clubtree</title>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>-->
    <!--<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>-->
    <!--<script src="/javascripts/angularApp.js"></script>-->
    <!--<script src="/services/clubprofile.service.js"></script>-->
    <!--<script src="/controllers/clubprofile.controller.js"></script>-->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="shortcut icon" href="/images/site-logo/favicon.ico">
</head>

<body ng-app="ClubTree" class="container">
    <div ng-controller="ClubProfile">
        <div class="row">
            <div class="col-xs-6">.col-xs-6</div>
            <div class="col-xs-6">.col-xs-6</div>
        </div>
        <div>
            <h1>In a nutshell</h1>
        </div>
        <div>
            <h1>Basic info</h1>
        </div>
        <div>
            <h1>Teamwork values</h1>
        </div>
    </div>
</body>

</html>