<div>

    <div class="col-xs-12 clubprofileheader">
        <div class="col-xs-4">
            <div class="clubprofilelogo"> <img class="img-fluid" style="max-width: 100%; height: auto" src="/images/clubprofile/starcraft-logo.png"> </div>
        </div>
        <div class="col-xs-8 clubprofilename"> {{ viewingClubProfile.clubName }} </div>
    </div>

    <div class="col-xs-12 clubprofilesection">
        <h1 class="col-xs-12 clubprofilesection"> In a nutshell </h1>
        <hr class="col-xs-12 clubprofilesection" />
        <p class="col-xs-12 clubprofilesection"> {{ viewingClubProfile.description }} </p>
    </div>

    <div class="col-xs-12 clubprofilesection">
        <h1 class="col-xs-12 clubprofilesection"> Basic info </h1>
        <hr class="col-xs-12 clubprofilesection" />
        <p class="col-xs-12 clubprofilesection"> Year started: {{ viewingClubProfile.survey.dateFounded }} </p>
        <p class="col-xs-12 clubprofilesection"> Approx. number of members: {{ viewingClubProfile.survey.numberOfMembers }} </p>
        <p class="col-xs-12 clubprofilesection"> Meeting location: {{ viewingClubProfile.survey.meetingLocation }} </p>
        <p class="col-xs-12 clubprofilesection"> Meeting times: {{ viewingClubProfile.survey.meetingTime }} </p>
    </div>

    <div class="col-xs-12 clubprofilesection">
        <h1 class="col-xs-12 clubprofilesection"> Teamwork values </h1>
        <hr class="col-xs-12 clubprofilesection question" />
        <p class="col-xs-12 clubprofilesection"> {{ viewingClubProfile.survey.values }} </p>
    </div>

</div>