<html>
  <head>
    <title>Clubtree</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
    <script src="/javascripts/angularApp.js"></script>
    <script src="/services/clubprofile.service.js"></script>
    <script src="/controllers/joinus.controller.js"></script>
    <script src="/controllers/clubprofile.controller.js"></script>
    <script src="/controllers/frontpage.controller.js"></script>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="shortcut icon" href="/images/site-logo/favicon.ico" >
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
  </head>
    <body ng-app="Clubtree">

      <ui-view></ui-view>

      <script type="text/ng-template" id="/home.html">
            <div class="row top-banner">
              <div class="col-md-6 top-banner-each"><img class="img-responsive" src="/images/site-logo/entirelogo.png" width="90%"></div>
              <div class="col-md-6 top-banner-each"><button class="btn-red"><a href="#/joinus">Join us</a></button></div>
            </div>
            <div class="front-splash">
              <h1 class="front-splash-font">{{ welcome }}</h1>
              <input type="text" class="search" placeholder="Got a name?"></input>
          </div>
      </script>

      <script type="text/ng-template" id="/login.html">
        <div class="row top-banner-login">
          <div class="col-md-6 top-banner-each"><img class="img-responsive" src="/images/site-logo/entirelogo.png" width="70%"></div>
          <div class="col-md-6 top-banner-each"> <button class="btn-red">Join us</button></div>
        </div>
        <br/><br/>
        <hr class="style1" width="50%">
        <div class="login">
          <h1>Welcome back!</h1>
          <h2>Log In</h2>
        </div>

      </script>


  </body>
</html>
