<html>
  <head>
    <title>Clubtree</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
    <script src="/javascripts/angularApp.js"></script>
    <script src="/services/clubprofile.service.js"></script>
    <script src="/controllers/joinus.controller.js"></script>
    <script src="/controllers/clubprofile.controller.js"></script>
    <script src="/controllers/frontpage.controller.js"></script>

    <script type="/javascripts/facebook/fbAsyncInit.js"></script>
    <script type="/javascripts/facebook/getLoginStatus.js"></script>

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="shortcut icon" href="/images/site-logo/favicon.ico" >
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
  </head>
    <body ng-app="Clubtree">

      <div ui-view="header"></div>
      <div ui-view="body"></div>

  </body>
</html>
