<div class="row top-banner">
    <div class="col-md-6 top-banner-each"><img class="img-responsive" src="/images/site-logo/entirelogo.png" width="90%"></div>
    <div class="col-md-6 top-banner-each"><button class="btn-red"><a href="#/joinus">Join us</a></button><button class="btn-red"><a href="#/loggedin">Lol logged in mockup</a></button></div>
    <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="true" data-auto-logout-link="true" data-use-continue-as="true"></div>
</div>