<div class="row top-banner">
    <link rel="stylesheet" href="/stylesheets/loggedInstyle.css">
    <div class="col-md-6" style="top:25%;"><img class="img-responsive" src="/images/site-logo/entirelogo.png" width="50%"></div>
    <div class="col-md-6" style="display:inline-block; text-align: right; top: 25%">
        <img src="/images/search-icon.png" width="7%" style="margin-right:10px"> &nbsp;
        <button class="btn-teal" style="margin-right:10px">Log Out</button> &nbsp;
        <img src="images/prof-pics/tyler-kun.png" width="7%">
    </div>
</div>