<div class="content-container">
  <div class="dash-prof-pic">
    <img src="images/prof-pics/tyler-kun.png" width="50%"> <br/>
    <h1>Hi, John!</h1>
    <strong>Select a Clubtree:</strong>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">Dropdown button</button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
  </div>
</div>