<html>
  <head>
    <title>Clubtree</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="/javascripts/angularApp.js"></script>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="shortcut icon" href="/images/site-logo/favicon.ico" >

  </head>
  <body>
    <body ng-app="ClubTree" ng-controller="FrontPage">
      <div>
        <div class="row top-banner">
          <div class="col-md-6 top-banner-each"><img class="img-responsive" src="/images/site-logo/entirelogo.png" width="90%"></div>
          <div class="col-md-6 top-banner-each"><button class="btn-teal">Log In</button> <button class="btn-red">Join us</button></div>
        </div>
      </div>
      <div class="front-splash">
        <h1 class="front-splash-font">Find your Clubtree.</h1>
        <input type="text" class="search" placeholder="Got a name?"></input>
      </div>
  </body>
</html>
