.side {
    margin-left: 0;
    margin-right: 0;
}

.floatIt {
    z-index: 9999;
    position: absolute;
    left: 7%;

}

#login-image {
    text-align: center;
    background-image: url("../images/login-bg.jpg");
    background-size: cover;
    height: 100%;
    width: 105%;
    -webkit-transition: all 0.5s;
    /*display: block;*/
    /*position: fixed;*/
    /*left: 0;
    right: 0;
    z-index: 1;*/
    -webkit-filter: brightness(40%) grayscale(1);
}



#login-image:hover, #signup-image:hover {
    -webkit-filter: none;
}

.form-submit {
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 18px;
    border-radius: 5px;
    width: 100%;
    border: 0px;
    padding: 5px;
    margin-top: 20px;

}

#back-button-signup {
    top: 20%;
    left: 10%;
    position: absolute;
    padding: 10px;
    font-size: 18px;
}

input[type=text], input[type=password] {
    text-align: right;
    font-size: 18px;
    background: none;
    border-color: rgba(255, 255, 255, 0.3);
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    margin-left: 10px;
    /*margin-bottom: -15px;*/
    /*margin: 10px;*/
    float: right;
}

.login-content {
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
    border-radius: 10px;
    padding: 50px;
    color: white;
    display: block;
    z-index: 9999;
    position: absolute;
    top: 40%;
    right: 10%;
    /*-moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);*/
}

.signup-content {
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
    border-radius: 10px;
    padding: 50px;
    color: white;
    display: block;
    z-index: 9999;
    position: absolute;
    top: 40%;
    left: 10%;
    /*-moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);*/
}

.menuText {
    color: white;
    font-size: 60px;
    display: block;
    z-index: 9999;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

#signup-image {
    text-align: center;
    background-image: url("../images/signup-bg.jpg");
    background-size: cover;
    height: 100%;
    width: 102%;

    -webkit-transition: all 0.5s;
    -webkit-filter: brightness(40%) grayscale(1);
}
