body {
  font-family: "Roboto", sans-serif;
  background-color: #f7f6f6;
}

hr.style1 {
	border-top: 1px solid #8c8b8b;
}

.content-container {
    background-color: #FFFFFF;
    width: 80%;
    height: 100%;
    margin: auto;
}

.btn-teal {
  background-color: #00bcd4;
  border-radius: 10px;
  padding: 10px 30px 10px 30px;
  color: #FFFFFF;
  border: 0px;
}

.btn-red {
  background-color: #ff3823;
  border-radius: 10px;
  padding: 10px 30px 10px 30px;
  color: #FFFFFF;
  border: 0px;
  margin-left: 20px;
  margin-right: 20px;
}

.btn-red a {
    color: #FFFFFF;
    text-decoration: none;
}

.btn2 {
  background-color: #00bcd4;
  border-radius: 10px;
  padding: 10px;
  color: #FFFFFF;
  border: 0px;
  margin-left: 20px;
  margin-right: 20px;
}

.search {
  border: 1px solid #00bcd4;
  border-radius: 15px;
  font-size: 20px;
  padding: 15px;
  box-shadow: 0px;
  width: 35%;
}

.login {
  text-align: center;
  padding-top: 5%;
}

input:focus, button:focus {
  outline: none;
}

div.clubprofileheader {
  margin-top: 50pt;
  margin-bottom: 30pt;
}

div.clubprofilelogo {
  max-width: 256px;
}

div.clubprofilename {
  font-size: 30pt;
  font-weight: bold;
}

div.clubprofilesection {
  margin-bottom: 30pt;
}

h1.clubprofilesection {
  color: #00bcd4;
  font-weight: bold;
}

hr.clubprofilesection {
  border-style: solid;
}

p.clubprofilesection {
  color: #000000;
  margin: 0 0 0 0;
  font-weight: normal;
}

.dash-prof-pic {
    text-align: center;
    width: 70%;
    margin: auto;
    margin-top: 10%;

}
