body {
  font-family: "Roboto", sans-serif;
}

hr.style1 {
	border-top: 1px solid #8c8b8b;
}

.top-banner {
  background-color: #f7f6f6;
  height: 15%;
  padding-left: 20%;
  padding-right: 20%;
}

.top-banner-login {
  height: 10%;
  padding-left: 20%;
  padding-right: 20%;
}

.top-banner-each {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align:center;
}

.btn-teal {
  background-color: #00bcd4;
  border-radius: 10px;
  padding: 10px 30px 10px 30px;
  color: #FFFFFF;
  border: 0px;
}

.btn-red {
  background-color: #ff3823;
  border-radius: 10px;
  padding: 10px 30px 10px 30px;
  color: #FFFFFF;
  border: 0px;
  margin-left: 20px;
  margin-right: 20px;
}

.btn2 {
  background-color: #00bcd4;
  border-radius: 10px;
  padding: 10px;
  color: #FFFFFF;
  border: 0px;
  margin-left: 20px;
  margin-right: 20px;
}

.front-splash {
  text-align: center;
  padding-top: 10%;
}

.front-splash-font {
  font-size: 72px;
  font-weight: bold;
  margin-bottom: 5%;
}

.search {
  border: 1px solid #00bcd4;
  border-radius: 15px;
  font-size: 20px;
  padding: 15px;
  box-shadow: 0px;
  width: 35%;
}

.login {
  text-align: center;
  padding-top: 5%;
}

input:focus, button:focus {
  outline: none;
}

div.clubprofileheader {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.clubprofilelogo {
  max-width: 128px;
  margin-left: auto;
  margin-right: auto;
}

div.clubprofilesection {
  margin-bottom: 30pt;
}

h1.clubprofilesection {
  color: #00bcd4;
  font-weight: bold;
}

hr.clubprofilesection {
  border-style: solid;
}

p.clubprofilesection {
  color: #000000;
  margin: 0 0 0 0;
  font-weight: normal;
}
